dd.error {
    color: red;
}

.positionHeader {
    margin-left: 8px;
}

#availablePlayers {
    overflow-y: scroll;
    height: 400px;
    margin-top: 10px;
}

#availablePlayers tbody tr {
    cursor: pointer;
}

.time {
    font-weight: bold;
}

#register {
    width: 50%;
    margin: 0 auto;
}

.center {
    width: 50%;
    margin: 0 auto;
}