@(tournament: is.rufan.tournament.domain.Tournament, userInTournament: Boolean)

@main(tournament.getName()) {

        <h5 id="timeInfo">
            <span class="time">Start Time:</span> @tournament.getStartTime()
            <span class="time">End Time:</span> @tournament.getEndTime()
        </h5>

    @if(userInTournament) {
        <h3 id="fantasyTeamName"></h3>
        <input id="teamName" type="text" class="form-control" placeholder="Your fantasy team name" />
        <button id="changeTeamName" class="btn btn-primary btn-xs">Change name</button>

        <div id="fantasyTeamPlayers" class="col-md-8"
        data-tournament-id="@{tournament.getId}"
        data-user-id="@{session().get("userId")}">
            <h4 class="positionHeader">Goalkeeper</h4>
            <table id="goalkeeper" class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Nationality</th>
                    <th></th>
                </thead>
            </table>

            <h4 class="positionHeader">Defenders</h4>
            <table id="defenders" class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Nationality</th>
                    <th></th>
                </thead>
            </table>

            <h4 class="positionHeader">Midfielders</h4>
            <table id="midfielders" class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Nationality</th>
                    <th></th>
                </thead>
            </table>

            <h4 class="positionHeader">Forwards</h4>
            <table id="forwards" class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Nationality</th>
                    <th></th>
                </thead>
            </table>
        </div>


        <div class="col-md-4">
            <h4 class="positionHeader">Available Players</h4>
            <select id="selectPlayerPosition" class="form-control">
                <option value="1">Goalkeepers</option>
                <option value="2">Forwards</option>
                <option value="4">Defenders</option>
                <option value="3">Midfielders</option>
            </select>

            <div id="availablePlayers">
                <table id="playersInPosition" class="table table-hover">
                    <thead>
                        <th>Name</th>
                        <th>Team</th>
                        <th>Nationality</th>
                        <th></th>
                    </thead>
                </table>
            </div>
        </div>
    } else {
        <div id="register" class="jumbotron" >
            <h2>You are not registered</h2>
            <p class="pJump">You need to register for this tournament to create your fantasy team.</p>
            <button id="registerToTournament" data-tournament-id=@tournament.getId() class="btn btn-primary btn-lg">Register</button>
        </div>
    }
}