@()

@main("Your Fantasy Teams", nav = "fantasyteams") {
    <h3>Your Fantasy Teams</h3>

    <table id="fantasyTeams" class="table table-hover">
        <thead>
            <th>Fantasy Team Name</th>
            <th>Tournament</th>
        </thead>
    </table>
}
