@(title: String = "Welcome!")

@import play.api.Play.current

@main(title) {

    <h2>Welcome to RuFan</h2>

    @if(session.get("username")) {

        <div class="jumbotron">
            <h1>RuFan - Daily Fantasy Sport</h1>
            <p>Good to see you again @{session.get("displayName")}!</p>
            <a href="@routes.FantasyTeamController.fantasyTeamOverview()" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> My Fantasy Teams</a>
        </div>

        <h3>Available Tournaments</h3>

        <table id="tournamentList" class="table table-hover">
            <thead>
                <th>Name</th>
                <th>League</th>
                <th>Start Time</th>
                <th>End Time</th>
            </thead>
        </table>
    } else {
        <image class="img-responsive" src="@routes.Assets.versioned("/images/RuFan-FrontPageLogo.png")"/>
    }
}