@(profileForm: Form[is.rufan.user.domain.User], teamId: String)

@import helper._

@main("Profile", nav = "profile") {
    @helper.form(action = routes.UserController.submit) {
        <fieldset>
            <legend>Account information</legend>

            @inputText(
                profileForm("name"),
                '_label -> "Name",
                '_help -> "Please enter your name.",
                '_error -> profileForm.globalError
            )
            @inputText(
                profileForm("email"),
                '_label -> "Email",
                '_help -> "Please enter a valid email.",
                '_error -> profileForm.globalError
            )
            @select(
                profileForm("favoriteTeamId"),
                options("none" -> "Select your favorite team"),
                '_label -> "Favorite team",
                '_help -> "Select your favorite team",
                Symbol("data-team-id") -> teamId
            )
            @inputText(
                profileForm("creditCardNumber"),
                '_label -> "Credit card number",
                '_help -> "Please enter a valid credit card number (16 digits)",
                '_error -> profileForm.globalError
            )
            <div id="creditCardInfo">
                    @select(
                        profileForm("creditCardType"),
                        options("none" -> "Select your credit card type", "MASTERCARD" -> "MasterCard", "VISA" -> "Visa"),
                        '_label -> "Credit card type",
                        '_help -> "Select your credit card type"
                    )
                    @select(
                        profileForm("creditCardExpMonth"),
                        options("none" -> "Select Month", "1" -> "January", "2" -> "February", "3" -> "Mars", "4" -> "April", "5" -> "May",
                            "6" -> "June", "7" -> "July", "8" -> "August", "9" -> "September", "10" -> "October", "11" -> "November",
                            "12" -> "December"),
                        '_label -> "Expiration date",
                        '_help -> "The credit card's expiration date"
                    )
                    @select(
                        profileForm("creditCardExpYear"),
                        options("none" -> "Select Year", "2015" -> "2015", "2016" -> "2016", "2017" -> "2017",
                                "2018" -> "2018", "2019" -> "2019", "2020" -> "2020"),
                        '_label -> "Expiration Year",
                        '_help -> "The credit card's expiration year"
                )
            </div>
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Update">
            <a href="@routes.Application.index" class="btn btn-danger">Cancel</a>
        </div>
    }
}