@()

@main("Tournaments", nav = "tournaments") {
    <h3>Available Tournaments</h3>

    <table id="tournamentList" class="table table-hover">
        <thead>
            <th>Name</th>
            <th>League</th>
            <th>Start Time</th>
            <th>End Time</th>
        </thead>
    </table>
}

